.git
.gitignore
.idea
.vscode
.jbeval
**/.DS_Store

__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov/

.venv
venv/
env/

.env
.env.*
!.env.dist

README.md
*.md
*.png
*.jpg
*.jpeg


.pylintrc
.python-version
tests/
conftest.py

Dockerfile
docker-compose.yml
docker-compose.*.yml